<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <application>
    <name>Microsoft 365 Copilot</name>
    <version>1.1.0</version>
  </application>
  <settings>
    <!-- URL principal para Microsoft 365 Copilot (auth=1 Personal, auth=2 Empresa) -->
    <mainUrl>https://m365.cloud.microsoft/?auth=2</mainUrl>
  </settings>
</configuration>
